html, body {
  background: #123;
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 1.2rem;
  display: inline-block;
  width: 100%;
}

.main {
  width: 300px;
  margin: 0 auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid #fff;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
  cursor: pointer;
}

.result {
  font-size: 2rem;
  padding: 10px;
}

.result.green {
  background-color: #5a5;
}

.result.red {
  color: #a55;
}
